<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>
    <div class="page-home">
        
    <%- include("./partials/header") %>

    <div class="main-container">
        <%- include("./partials/aside") %>
        
        <main class="main-section">
            <h2 class="main-title">Experiencia Profesional</h2>
            <%- include("./partials/cardjob") %>
            <%- include("./partials/cardjob") %>

            <h2 class="main-title">Educacion</h2>
            <%- include("./partials/cardjob") %>

            <h2 class="main-title">Cursos y capacitaciones</h2>
            <%- include("./partials/cardjob") %>
        </main>
    </div>
    </div>
</body>
</html>